/* All this is just some pretty standard styling to make the whole thing actually visible and work the way we want it to. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-container {
    width: 700px;
    height: 700px;
    background-image: url(media/kitchen.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#box {
    
    width: 150px;
    height: 150px;
    background-image: url(media/guyFieri.jpg);
    
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
}